
{{#data}}
                <a href="">
                    <div class="grid-item">
                        <div class="inside">
                            <img src="{{images}}">
                            <h1>{{name}}</h1>
                        <div class="ort">
                            <img src="/assets/img/gps.png" alt="Ort">   
                            <p>{{address_obj.address_string}}</p>         
                        </div>
                        </div>
                    </div>
                </a>
{{/data}}